@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?efsk18');
	src:url('../fonts/icomoon.eot?#iefixefsk18') format('embedded-opentype'),
		url('../fonts/icomoon.woff?efsk18') format('woff'),
		url('../fonts/icomoon.ttf?efsk18') format('truetype'),
		url('../fonts/icomoon.svg?efsk18#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.icon-list:before {
	content: "\e600";
}
